<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753234481569-6lkkgbf6h89d5hgbn9tm8jjkk009ntpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753234481569-6lkkgbf6h89d5hgbn9tm8jjkk009ntpp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753234481569-2vg5841kjqsfvrgesirtqlqmjdmro9fi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBRMcxsyQTn4W7hiSqaRsm1vOf7ajom3s</string>
	<key>GCM_SENDER_ID</key>
	<string>753234481569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramberapps.workinghours</string>
	<key>PROJECT_ID</key>
	<string>go-bike-rb</string>
	<key>STORAGE_BUCKET</key>
	<string>go-bike-rb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753234481569:ios:87b25c26d3d1498f633be0</string>
</dict>
</plist>